# Environment
ENV=development
LOG_LEVEL=DEBUG
PORT=8000

#APP
APP_NAME=Career Conversations AI
APP_OWNER=

# Optional: path to your profile picture displayed in the chat UI
# AVATAR_PATH=app/ui/assets/profile.jpeg

# OpenAI API
OPENAI_API_KEY=

# Qdrant
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME="career-conversations-collection"

# Pushover
PUSHOVER_USER=
PUSHOVER_TOKEN=

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=